{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">

    .background{
        background-color: #9cdcfe;
    }
    .container-fluid {

    }

    .form-cls {
        border-radius: 15px;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    }





</style>
{% endblock %}
{% block content %}
    <body>

<div class="container-fluid py-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">My Calculator</h1>
            {% if error %}
            <div class="alert alert-danger error" role="alert">
                {{ error }}
            </div>
            {% endif %}
            <div class="mb-4 d-flex justify-content-center align-items center ">

                <form action="/calculator" method="POST" class="border border-secondary p-5 form-cls bg-dark">
                    <div class="form-group" style="color:white">
                        <label for="value1" class="col-sm-4 col-form-label">Value 1:</label>
                        <input type="text" id="value1" name="value1" class="form-control">
                    </div>

                    <div class="form-group" style="color:white">
                        <label for="value2" class="col-sm-4 col-form-label">Value 2:</label>
                        <input type="text" id="value2" name="value2" class="form-control" >
                    </div>
                    <fieldset class="py-2" style="color:white">
                        <legend>Operation</legend>
                        <div>
                            <input type="checkbox" name="operation" id="addition" value="addition"
                                   class="form-check-input">
                            <label for="addition" class="form-check-label">addition</label>
                        </div>
                        <div>
                            <input type="checkbox" name="operation" id="subtraction" value="subtraction"
                                   class="form-check-input">
                            <label class="form-check-label" for="subtraction">subtraction</label>
                        </div>
                        <div>
                            <input type="checkbox" name="operation" id="multiplication" value="multiplication"
                                   class="form-check-input">
                            <label class="form-check-label" for="multiplication">multiplication</label>
                        </div>
                        <div>
                            <input type="checkbox" name="operation" id="multiplication" value="multiplication"
                                   class="form-check-input">
                            <label class="form-check-label" for="multiplication">division</label>
                        </div>
                    </fieldset>
                    <div class="text-center pt-2 " style="color:white">
                        <input type="submit"  value="Submit" class="btn btn-primary ">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
    </div>
    </div>
    </body>
{% endblock %}